body,
p,
div,
img {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

body {
    background: #a89172;
    box-shadow: 0 0 150px #5e4a41 inset;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.loading-page .loading-bar {
    width: 8rem;
    height: 3px;
    background: #fff;
    display: block;
    border-radius: 18px;
    margin: 0 auto;
    top: 220px;
    position: relative;
}

.loading-bar .loading-bar-act {
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    width: 0;
    background: #5e4a41;
}


/*
.timecount-wrap{
    width: 9rem;
    height: 9rem;
    margin:  0 auto;
    position: relative;
    top: 50%;
    display: block;
}
.timecount-wrap .timecount-box{
    width: 100%;
    height: 100%;
    position: relative;
    top: -50%;
}
.timecount-box .timecount-item{
    width: 100%;
    height: 100%;
    font-size:8rem;
    font-family: 'macrosot yahei';
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 9rem;
    text-align: center;
}*/

.previous-page {}

.previous-page .person-img {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.previous-page .previous-text-box {
    width: 14rem;
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: rgba(225, 225, 225, 0);
    animation: flipInY 1s cubic-bezier(0.39, 0.66, 0.57, 1) 1 backwards;
}

@-webkit-keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY
}



