body,
p,
div,
img {
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: ZHSRXT;
        background: url(./../img/card-bg.jpg);
    background-size: 100%;
}
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    visibility: visible;
    clear: both
}

.clearfix {
    *zoom:1}
.swiper-wrapper{
    height: 800%;
}
.swiper-slide{
    overflow: hidden;
}
body {
/*    background: #a89172;*/
    box-shadow: 0 0 200px #5e4a41 inset;
}
#J_main-photo-wrap,
#J_other-photo-wrap,
#J_bless-wrap,
#J_sign-wrap{
    display: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.loading-page .loading-bar {
    width: 8rem;
    height: 3px;
    background: #fff;
    display: block;
    border-radius: 18px;
    margin: 0 auto;
    top: 220px;
    position: relative;
}

.loading-bar .loading-bar-act {
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    width: 0;
    background: #5e4a41;
}


/*
.timecount-wrap{
    width: 9rem;
    height: 9rem;
    margin:  0 auto;
    position: relative;
    top: 50%;
    display: block;
}
.timecount-wrap .timecount-box{
    width: 100%;
    height: 100%;
    position: relative;
    top: -50%;
}
.timecount-box .timecount-item{
    width: 100%;
    height: 100%;
    font-size:8rem;
    font-family: 'macrosot yahei';
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 9rem;
    text-align: center;
}*/

.previous-page {}

.previous-page .person-img {
    position: absolute;
    left: 7rem;
    bottom: 0;
    width: 2rem;
    opacity: 0;
    -webkit-animation: personimg  2s;
    -webkit-animation-delay: 0;
    -webkit-animation-direction:normal;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes personimg{
    0%{
        left: 7rem;
        width: 2rem;
        opacity: 0;
    }
    80%{
        left: -1rem;
         width: 18rem;
        opacity: 0.8;
    }
    100%{
        left: 0rem;
         width: 16rem;
        opacity: 1;
    }
}
.previous-page .previous-text-box {
    width: 14rem;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 0.5rem;
    background-color: rgba(225, 225, 225, 0);
    animation: flipInY 2s cubic-bezier(0.39, 0.66, 0.57, 1) 1 backwards;
    -webkit-animation-delay: 2s;
}

@-webkit-keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY
}

.previous-name{
    position: relative;
    height: 4rem;
    width: 100%;
}
.previous-name .name-man{
    position: absolute;
    color: #fff;
    font-size: 1.2rem;
    left: -20rem;
    top: 0.8rem;
/*    transform: rotate(15deg);*/
    -webkit-animation: nameman  2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-direction:normal;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes nameman{
    0%{
        left: -20rem;
    }
    40%{
        left: 10rem;
        
    }
    100%{
        left: 2rem;
        
    }
}
.previous-name .name-female{
    position: absolute;
    color: #fff;
    font-size: 1.2rem;
    right: -20rem;
    top: 0.8rem;
/*    transform: rotate(15deg);*/
    -webkit-animation: namefemale  2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-direction:normal;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes namefemale{
    0%{
        right: -20rem;
    }
    40%{
        right: 10rem;
        
    }
    100%{
        right: 2rem;
        
    }
}
.previous-name .name-and{
   background: url(./../img/and.png);
    position: absolute;
    left: 6rem;
    top: 0.6rem;
    width: 2rem;
    height: 2rem;
    -webkit-animation: in3iehj6bbk3u8ggmn29 2s;
    -webkit-animation-delay: 4s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    display: block;
    opacity: 0;
    background-size: 100%;
}
@-webkit-keyframes in3iehj6bbk3u8ggmn29{    0% {
        -webkit-transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg) rotateX(0deg) rotateY(0deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleX(1) scaleY(1) translateX(0px) translateY(0px) rotate(0deg) rotateX(0deg) rotateY(360deg);
        opacity: 1;
    }} 

.pagehide{
    -webkit-animation: photohide 1.5s;
    -webkit-animation-direction:normal;
    -webkit-animation-fill-mode: forwards;
}
.pageshow{
    -webkit-animation: pageshow 1.5s;
    -webkit-animation-direction:normal;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes pagehide{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@-webkit-keyframes pageshow{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}