.biye-img-box {
    position: relative;
    width: 100%;
    height: 100%;
}

#J_2014 .biye-img-box .biye-img1 {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.biye-act .biye-img1 {
    -webkit-animation: beijinghide 3s;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
}

#J_2014 .biye-img-box .biye-img2 {
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.biye-act .biye-img2 {
    -webkit-animation: beijingshow 3s;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes beijinghide {
    0% {}
    100% {
        opacity: .0;
    }
}

@-webkit-keyframes beijingshow {
    0% {}
    100% {
        opacity: 1;
    }
}
