@-webkit-keyframes myflowUpDownK0wstar1 {
    0% {
        -webkit-transform: translate(252px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(153px, 515px) rotate(720deg);
    }
}

.myflowUpDown0wstar1 {
    -webkit-animation: myflowUpDownK0wstar1 3.585999695973329s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes myflowUpDownK1wstar2 {
    0% {
        -webkit-transform: translate(61px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(276px, 515px) rotate(720deg);
    }
}

.myflowUpDown1wstar2 {
    -webkit-animation: myflowUpDownK1wstar2 8.843117643389803s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes myflowUpDownK2wstar3 {
    0% {
        -webkit-transform: translate(25px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(142px, 515px) rotate(720deg);
    }
}

.myflowUpDown2wstar3 {
    -webkit-animation: myflowUpDownK2wstar3 8.20360013608574s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 0.6s;
}

@-webkit-keyframes myflowUpDownK3wstar4 {
    0% {
        -webkit-transform: translate(161px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(271px, 515px) rotate(720deg);
    }
}

.myflowUpDown3wstar4 {
    -webkit-animation: myflowUpDownK3wstar4 4.676375418753225s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 0.8999999999999999s;
}

@-webkit-keyframes myflowUpDownK4wstar1 {
    0% {
        -webkit-transform: translate(254px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(193px, 515px) rotate(720deg);
    }
}

.myflowUpDown4wstar1 {
    -webkit-animation: myflowUpDownK4wstar1 7.880193477780701s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 1.2s;
}

@-webkit-keyframes myflowUpDownK5wstar2 {
    0% {
        -webkit-transform: translate(109px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(20px, 515px) rotate(720deg);
    }
}

.myflowUpDown5wstar2 {
    -webkit-animation: myflowUpDownK5wstar2 7.357562950072225s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 1.5s;
}

@-webkit-keyframes myflowUpDownK6wstar3 {
    0% {
        -webkit-transform: translate(12px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(254px, 515px) rotate(720deg);
    }
}

.myflowUpDown6wstar3 {
    -webkit-animation: myflowUpDownK6wstar3 7.554413047732739s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 1.7999999999999998s;
}

@-webkit-keyframes myflowUpDownK7wstar4 {
    0% {
        -webkit-transform: translate(274px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(52px, 515px) rotate(720deg);
    }
}

.myflowUpDown7wstar4 {
    -webkit-animation: myflowUpDownK7wstar4 4.026522093764229s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 2.1s;
}

@-webkit-keyframes myflowUpDownK8wstar1 {
    0% {
        -webkit-transform: translate(149px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(198px, 1030px) rotate(720deg);
    }
}

.myflowUpDown8wstar1 {
    -webkit-animation: myflowUpDownK8wstar1 5.433004329838924s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 2.4s;
}

@-webkit-keyframes myflowUpDownK9wstar2 {
    0% {
        -webkit-transform: translate(179px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(266px, 515px) rotate(720deg);
    }
}

.myflowUpDown9wstar2 {
    -webkit-animation: myflowUpDownK9wstar2 6.001580836185122s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 2.6999999999999997s;
}

@-webkit-keyframes myflowUpDownK10wstar3 {
    0% {
        -webkit-transform: translate(272px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(221px, 515px) rotate(720deg);
    }
}

.myflowUpDown10wstar3 {
    -webkit-animation: myflowUpDownK10wstar3 4.752296065474651s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 3s;
}

@-webkit-keyframes myflowUpDownK11wstar4 {
    0% {
        -webkit-transform: translate(99px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(171px, 515px) rotate(720deg);
    }
}

.myflowUpDown11wstar4 {
    -webkit-animation: myflowUpDownK11wstar4 6.88247720800989s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 3.3s;
}

@-webkit-keyframes myflowUpDownK12wstar1 {
    0% {
        -webkit-transform: translate(34px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(156px, 515px) rotate(720deg);
    }
}

.myflowUpDown12wstar1 {
    -webkit-animation: myflowUpDownK12wstar1 3.6992343942131782s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 3.5999999999999996s;
}

@-webkit-keyframes myflowUpDownK13wstar2 {
    0% {
        -webkit-transform: translate(138px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(95px, 515px) rotate(720deg);
    }
}

.myflowUpDown13wstar2 {
    -webkit-animation: myflowUpDownK13wstar2 6.604965353258934s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 3.9s;
}

@-webkit-keyframes myflowUpDownK14wstar3 {
    0% {
        -webkit-transform: translate(158px, -26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(259px, 515px) rotate(720deg);
    }
}

.myflowUpDown14wstar3 {
    -webkit-animation: myflowUpDownK14wstar3 9.812560501325745s infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 4.2s;
}