.biye-img-box {
    position: relative;
    width: 100%;
    height: 100%;
}

#J_2014 .biye-img-box .biye-img1 {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#J_2014 .biye-img-box .biyeimgbox1 {
    width: 100%;
    height: 100%;
    position: absolute;
}

#J_2014 .biye-img-box .biyeimgbox2 {
    width: 100%;
    position: absolute;
    opacity: 0;
    height: 100%;
}

.biye-act .biyeimgbox1 {
    -webkit-animation: beijinghide 4s;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
}

#J_2014 .biye-img-box .biye-img2 {
    height: 111%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.biye-img3 {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.biye-act .biyeimgbox2 {
    -webkit-animation: beijingshow 3s;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes beijinghide {
    0% {}
    100% {
        opacity: .0;
    }
}

@-webkit-keyframes beijingshow {
    0% {}
    100% {
        opacity: 1;
    }
}

#J_2014 .text-box {
    background: url(./../img/photos/text-bg.png)no-repeat;
	background: rgba(0, 0, 0, .5) url(./../img/pre-text-bg.png)no-repeat;
	background-size: 100% 100%;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 10px;
	padding-right: 60px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    padding-left: 50px;
}

#J_2014 .text-box .biye-heart {
    background: url('./../img/photos/text-heart.png')no-repeat;
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    top: 35px;
    opacity: 0;
    left: 10px;
    position: absolute;
}

#J_2014 .text-box .biye-line {
    width: 1px;
    height: 80%;
    background: rgba(255, 255, 255, .7);
    transform: scale(0);
    position: absolute;
    left: 25px;
    top: 10%;
}

.biye-act .biye-line {
    -webkit-animation: lineShow 2s;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
}

.biye-act .biye-heart {
    -webkit-animation: heartShow 2s;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
}

.text-box .biyetext1 {
    opacity: 0;
}

.text-box .biyetext2 {
    opacity: 0;
}

.biye-act .text-box .biyetext1 {
    display: block;
    opacity: 0;
    margin: 10px 0;
    -webkit-animation: fadeInUp 2s;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
}

.biye-act .text-box .biyetext2 {
    display: block;
    opacity: 0;
    margin: 10px 0;
    -webkit-animation: fadeInDown 2s;
    -webkit-animation-delay: 4s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes textHide {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    100% {
        opacity: 0
    }
}

@keyframes textHide {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes textShow {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes textShow {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}